body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #ffffff;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-portfolio {
  border-bottom: 1px solid #ECECEC;
}

img {
  display: block;
}

.item {
  margin-right: 30px;
}

.item:last-child {
  margin-right: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.header-logo span {
  color: black;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -2px;
}

.nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.nav-list__item {
  margin-right: 50px;
}

.nav-list__item:last-child {
  margin-right: 0px;
}

.nav-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: #2196f3;
}

.nav-list__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover::after {
  opacity: 1;
}

.current {
  color: #2196f3;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contact-list__item {
  margin-right: 50px;
}

.contact-list__item:last-child {
  margin-right: 0px;
}

.contact-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: #2196f3;
}

.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
  max-width: 1600px;
  height: 600px;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/fototeam.jpg);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fototeam.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  margin: 0px;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

.hero__button {
  font-family: Roboto;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
}

.features-section {
  padding-top: 94px;
  padding-bottom: 0px;
}

.features-item {
  margin-right: 30px;
}

.features-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background-color: #F5F4FA;
}

.features-box__icon {
  width: 70px;
  height: 70px;
}

.features-box__title {
  width: 270px;
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features-box__text {
  width: 270px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

.item--position {
  position: relative;
}

.foto-text {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  margin: 0px;
  padding: 27px 0px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-item {
  margin-right: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
  margin-right: 0px;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-box__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0px 0px 10px 0px;
}

.team-box__position {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}

.sm-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.sm-box__list {
  margin-right: 10px;
}

.sm-box__list:last-child {
  margin-right: 0px;
}

.sm-box__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-box__link:hover, .sm-box__link:focus {
  background-color: #2196f3;
}

.sm-box__icon {
  fill: #AFB1B8;
}

.sm-box__link:hover .sm-box__icon,
.sm-box__link:focus .sm-box__icon {
  fill: #ffffff;
}

.custamer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  Width: 170px;
  Height: 92px;
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custamer-link:hover, .custamer-link:focus {
  border-color: #2196f3;
}

.custamer-icon {
  Width: 106px;
  Height: 60px;
  fill: currentColor;
}

.custamer-link:hover .custamer-icon,
.custamer-link:focus .custamer-icon {
  fill: #2196f3;
}

.section-ftr {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-address-box {
  margin-right: 70px;
}

.ftr-logo {
  display: block;
  margin-bottom: 20px;
}

.ftr-logo span {
  color: #FFFFFF;
}

.address-list__item {
  margin-bottom: 9px;
}

.address-list__item:last-child {
  margin-bottom: 0px;
}

address {
  font-style: normal;
}

.address-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover, .address-list__link:focus {
  color: #2196f3;
}

.address-list__contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__contact:hover, .address-list__contact:focus {
  color: #2196f3;
}

/** join and social media**/
.join-box {
  margin-top: 15px;
}

.sm-flex-ftr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  padding: 0px;
}

.sm-box__link--color {
  background-color: rgba(255, 255, 255, 0.1);
}

.ftr-sm-icon {
  fill: #FFFFFF;
}

.subscription {
  margin-top: 15px;
  margin-left: 93px;
}

.ftr-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.sub-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-form__input {
  height: 50px;
  width: 358px;
  background-color: #2F303A;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 0px 16px;
  color: #FFFFFF;
}

.sub-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  background-color: #2196f3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  margin-left: 12px;
  padding: 10px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-form__button:hover, .sub-form__button:focus {
  background-color: #188CE8;
}

.sub-form__icon {
  fill: #f5f4fa;
  -webkit-transform: translateY(4px) translateX(10px);
          transform: translateY(4px) translateX(10px);
}

.container-btn {
  width: 1200px;
  margin: auto;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.buttons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.buttons-box__item {
  margin-right: 8px;
}

.buttons-box__item:last-child {
  margin-right: 0px;
}

.buttons-box__name {
  font-family: Roboto;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border: none;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-box__name:hover, .buttons-box__name:focus {
  background-color: #2196f3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.projects-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-tumb {
  margin-left: 30px;
  margin-bottom: 30px;
}

.projects-tumb:nth-child(3n + 1) {
  margin-left: 0;
}

.projects-tumb:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-tumb:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.projects-img {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.projects-img__text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  text-align: left;
  margin: 0px;
  padding: 63px 24px;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-tumb:hover .projects-img__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

img {
  display: block;
}

.projects-items {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.projects-items__name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}

.projects-items__type {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin: 0;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 530px;
  height: 580px;
  background-color: #FFFFFF;
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
  border: 1px solid #2196f3;
}

.close-btn__icon {
  width: 18px;
  height: 18px;
  display: block;
  color: currentColor;
}

.close-btn:hover .close-btn__icon {
  fill: #2196f3;
}

.modal-form {
  margin: 40px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}

.form-feald {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.form-feald__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-feald__input {
  width: 100%;
  height: 40px;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-feald__input:focus {
  border-color: #2196f3;
}

.form-feald__icon {
  fill: #212121;
  position: absolute;
  left: 15px;
  top: 29px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-feald__input:focus + .form-feald__icon {
  fill: #2196f3;
}

.enter-comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

label > a {
  text-decoration: underline;
  color: #2196f3;
}

.licence {
  margin-top: 20px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 5px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../images/icon-check-slack.svg);
  background-size: contain;
  background-origin: border-box;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.licence-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-button {
  font-family: Roboto;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  padding: 0;
  -ms-flex-line-pack: center;
      align-content: center;
  border: none;
  margin: 0px 124px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover, .form-button:focus {
  background-color: #188CE8;
}
/*# sourceMappingURL=main.css.map */