.contact-list {
    display: none;
    margin-left: auto;

    
        @media (min-width:768px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }

        @media (min-width:1200px){
            display: flex;
            flex-direction: row;
            gap: 50px;
        }
    }

.contact-list__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $second-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
        
        @media (min-width:768px) {
            padding-top: 0px;
            padding-bottom: 0px;      
        }

        @media (min-width:1200px) {
            font-size: 14px;
            padding-top: 32px;
            padding-bottom: 32px;
        }
       
}


.envelope {
    width: 14px;
    height: 10px;
    margin-right: 8px;
    fill: currentColor;

        @media (min-width:1200px) {
            width: 16px;
            height: 12px;
            margin-right: 10px;
        }
    
}

.smartphone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
    fill: currentColor;

    @media (min-width:1200px) {
            width: 10px;
            height: 16px;
            margin-right: 10px;
        }
    
}

