.custamer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    Width: 170px;
    Height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: $main-border-radius;
    color: #AFB1B8;
    transition:
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: #2196f3;
    }
}

.custamer-icon {
    Width: 106px;
    Height: 60px;
    fill: currentColor;

    .custamer-link:hover &,
    .custamer-link:focus & {
        fill: #2196f3;
    }
}