.features{
  padding-top: 60px;
  padding-bottom: 60px;

      @media (min-width: 1200px) {
          padding-top: 94px;
          padding-bottom: 0px;
      }
}

.features__list{

  @media (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.features__item {
  max-width: 450px;
  margin-bottom: 30px;

    @media (min-width: 768px) {
      max-width: 354px;
      margin-bottom: 0px;
    }

    @media (min-width: 1200px) {
    max-width: 270px;
    margin-bottom: 0px;
    }

}

.features__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: $main-border-radius;
  background-color: #F5F4FA;

      
        // @media (min-width: 768px) {
        //     width: 354px;
        // }

        // @media (min-width: 1200px) {
        //   width: 270px;
        // }
   

}



.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
 
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $first-text-color;
  text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }

  
}

.features-box__text {
  // width: 270px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $second-text-color;

    @media (min-width: 480px) {
        text-align:left;
    }
}

