.features-section {
  padding-top: 94px;
  padding-bottom: 0px;

  
    @media (max-width: 480px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

}


.features-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: $main-border-radius;
  background-color: #F5F4FA;

       

        @media (min-width: 768px) {
            width: 354px;
        }

        @media (min-width: 1200px) {
          width: 270px;
        
        }
   

}

.features-item {

  margin-right: 30px;
  &:last-child {
    margin-right: 0px;
  }

    @media (min-width: 480px) {
      margin-right: 0px;
      margin-bottom: 30px;
    }
    
        &:last-child {
          margin-bottom: 0px;
        }
   
}


.features-box__icon {
  width: 70px;
  height: 70px;
}

.features-box__title {
  // width: 270px;
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $first-text-color;

    @media (min-width: 480px) {
      text-align: center;

    }

    
  
}

.features-box__text {
  // width: 270px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $second-text-color;

  @media (min-width: 480px) {
      text-align:left;
  
    }
  
}

