.section-ftr {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer-box {
    display: flex;
}

.footer-address-box {
    margin-right: 70px;
}

.ftr-logo {
    display: block;
    margin-bottom: 20px;

    span {
        color: $white-text-color;
    }
}


.address-list__item {
    margin-bottom: 9px;

    &:last-child {
        margin-bottom: 0px;
    }
}


address {
    font-style: normal;
}

.address-list__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $white-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }

}



.address-list__contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

/** join and social media**/

.join-box {
    margin-top: 15px;
}

.sm-flex-ftr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 0px;
    
}

.sm-box__link--color {
    background-color: rgba(255, 255, 255, 0.1);
}

.ftr-sm-icon {
    fill: #FFFFFF;
}