.backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7)
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 530px;
    height: 580px;
    background-color: #FFFFFF;
    border-radius: $main-border-radius;
    transform: translate(-50%, -50%) scale(1)
}

.close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 6px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    transition:
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        border: 1px solid #2196f3;
    }

}

.close-btn__icon {
    width: 18px;
    height: 18px;
    display: block;
    color: currentColor;

    .close-btn:hover & {
        fill: #2196f3;
    }

}


.modal-form {
    margin: 40px;
}

.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $first-text-color;
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;

}

.form-feald {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
}

.form-feald__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $second-text-color;
    margin-bottom: 4px;

}

.form-feald__input {
    width: 100%;
    height: 40px;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: $main-border-radius;
    padding: 12px 12px 12px 42px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: #2196f3;

    }
}





.form-feald__icon {
    fill: $first-text-color;
    position: absolute;
    left: 15px;
    top: 29px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form-feald__input:focus+& {
        fill: #2196f3;
    }


}

.enter-comment {
    height: 120px;
    padding: 12px 16px;
    resize: none;
}

label>a {
    text-decoration: underline;
    color: $accent-color;

}

.licence {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    text-align: center;
}

.checkbox {
    appearance: none;
}

.checkbox-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-top: 3px;
    margin-right: 5px;
    border: 2px solid #212121;
    border-radius: $main-border-radius;

    .checkbox:checked+& {
        border-color: transparent;
        background-color: $background-accent-color;
        background-image: url(../images/icon-check-slack.svg);
        background-size: contain;
        background-origin: border-box;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}


.licence-box {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $second-text-color;
}

.form-button {
    font-family: Roboto;
    width: 200px;
    height: 50px;
    background-color: $background-accent-color;
    color: $white-text-color;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: $main-border-radius;
    margin-left: 12px;
    padding: 0;
    align-content: center;
    border: none;
    margin: 0px 124px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }

}