.container-btn {
    width: 1200px;
    margin: auto;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.buttons-box {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.buttons-box__item {
    margin-right: 8px;

    &:last-child {
        margin-right: 0px;
    }
}



.buttons-box__name {
    font-family: Roboto;
    color: $first-text-color;
    background-color: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border: none;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: $main-border-radius;
    padding: 6px 22px;
    transition:
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $background-accent-color;
        color: $white-text-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    }
}


.projects-box {
    display: flex;
    flex-wrap: wrap;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-tumb {
    margin-left: 30px;
    margin-bottom: 30px;

    &:nth-child(3n + 1) {
        margin-left: 0;
    }

    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }

    &:hover {
        box-shadow:
            0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
}


.projects-img {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
}

.projects-img__text {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: $white-text-color;
    background-color: rgba(33, 150, 243, 0.9);
    text-align: left;
    margin: 0px;
    padding: 63px 24px;
    display: block;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition:
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .projects-tumb:hover & {
        transform: translateY(0);
    }

}



img {
    display: block;
}

.projects-items {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.projects-items__name {
    color: $first-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0;
}

.projects-items__type {
    color: $second-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    margin: 0;

}