.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width:1200px) {
        padding-top: 74px;
            padding-bottom: 94px;
    }
}

.buttons-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @media (min-width: 768px){
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    @media (min-width: 1200px) {
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
    }
}

.buttons-box__item {

    @media (min-width: 478px) and (max-width: 768px){
        margin-right: 8px;
        margin-bottom: 15px;

        &:last-child {
            margin-right: 0px;
        }

        &:nth-child(3) {
            margin-right: 0px;
        }

        &:nth-child(n+4) {
            margin-bottom: 0px;
        }
    }
    
    @media  (min-width: 768px) {
        margin-right: 8px;
        margin-bottom: 0px;

        &:last-child{
            margin-right: 0px;

        }

    }


}



.buttons-box__name {
    font-family: Roboto;
    color: $first-text-color;
    background-color: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border: none;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: $main-border-radius;
    padding: 6px 22px;
    transition:
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $background-accent-color;
        color: $white-text-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    }
}


.projects-list {

    // margin-bottom: -30px;
  
    @media (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.projects-list__item {
   max-width: 100%;
    margin-bottom: 30px;

        @media (min-width: 768px){
            max-width: 354px;
            margin-bottom: 0px;
        }

        @media (min-width: 1200px) {
            max-width: 370px;
            margin-bottom: 0px;
        }
            
}

.project-list__link{
   display: flex; 
   flex-direction: column;
    height: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            cursor: pointer;
        }
}


.project-list__box{
position: relative;
overflow: hidden;
}


.project-list__img {
        display: block;
        width: 100%;
        height: auto;
    }


.projects-list__overlay{
    display: flex;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: $white-text-color;
    background-color: rgba(33, 150, 243, 0.9);
    margin: 0px;
    padding: 77px 24px;
    height: 100%;
    transform: translateY(100%);
    transition:
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .projects-list__item:hover &,
        .projects-list__item:focus & {
            transform: translateY(0);
        }

        @media (min-width: 768px) {
            padding:49px 24px 77px 24px;
        }

        @media (min-width: 1200px){
            padding: 63px 24px;
        }

}


.project-list__description {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;

   
}

.project-list__name {
    color: $first-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0;
}

.project-list__type {
    color: $second-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    margin: 0;

}
