.team {
    background-color: #F5F4FA;
    padding-top: 60px;
    padding-bottom: 60px;

        @media (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }

}




.team__title{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $first-text-color;

    @media (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 50px;
        }
}

.team__list {
    margin-bottom: -30px;

    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        // margin-right: -30px;
        gap: 30px;
    }

        @media (min-width: 1200px) {
            margin-bottom: 0px;
        }

}

.team__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 450px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;

    @media (min-width: 768px) {
        max-width: 354px;
    }

    @media (min-width: 1200px) {
        max-width: 270px;
        margin-bottom: 0px;
    }
   
}

.team-img{
    display: block;
    width: 100%;
    height: auto;

}

.team-box {
    padding-top: 30px;
    padding-bottom: 24px;

    @media (min-width: 1200px){
        padding-bottom: 30px;
    }
}

.team-box__name {
    color: $first-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.team-box__position {
    color: $second-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0;
}

.sm-box {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.sm-box__list {
    margin-right: 10px;

    &:last-child {
        margin-right: 0px;
    }
}


.sm-box__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transition:
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $background-accent-color;
    }

}

.sm-box__icon {
    fill: #AFB1B8;

    .sm-box__link:hover &,
    .sm-box__link:focus & {
        fill: #ffffff;
    }

}